language: php

php:
  - 7.1
  - 7.2

cache:

  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true

install:
  - travis_retry composer install

script:
  - composer test

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.xml
