---
suites:
    pipeline_suite:
        namespace: League\Pipeline
        psr4_prefix: League\Pipeline

extensions:
    FriendsOfPhpSpec\PhpSpec\CodeCoverage\CodeCoverageExtension: ~

code_coverage:
    format:
        - html
        - clover
        - text
    output:
        html: coverage
        clover: coverage.xml
